<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TMDB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A36BCFB1EF7D34800CCCCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A6C9FFE1EFA9B0600635E30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A6CA0161EFBC72A00635E30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
